<h1>Your mortgage calculations</h1>
<div class="row">
  <div class="col col-md-4">
    <h4>You entered the following information:</h4>
    <table class="table table-striped">
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mortgage Amount</td>
        <td>123</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Annual %</td>
        <td>12%</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Amortization Period</td>
        <td>the Bird</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Payment Schedule</td>
        <td>the Bird</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Payment Per Period</td>
        <td>the Bird</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col col-md-8">
    <h4>Results of calculations:</h4>

  </div>
</div>